/** 
Theme  Nome: LinusTheme
Theme URI: https://themeuri.com
Author: Joao Lino
Author URI: http://authoruri.com
Description: Theme Description
Version: 1.0.0
Text Domain: linus
License: GNU v3 or Later
**/